@page "/hotel-room/create"
@page "/hotel-room/edit/{Id:int}"

@using Models
@using Business.Repositories.IRepositories
@using System.IO
@using HiddenVilla_Server.Service.IService
@inject IHotelRoomRepository hotelRoomRepository
@inject IHotelRoomImageRepository hotelRoomImageRepository
@inject NavigationManager navManager
@inject IJSRuntime jsRuntime
@inject IFileUpload fileUpload


<div class="row mt-2 mb-5">
    <h3 class="card-title text-info mb-3 ml-3">@Title Hotel Room</h3>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <EditForm Model="HotelRoomModel" OnValidSubmit="HandleHotelRoomUpsert">
                    <DataAnnotationsValidator />
                    <div class="form-group">
                        <label>Name</label>
                        <InputText @bind-Value="HotelRoomModel.Name" class="form-control"></InputText>
                        <ValidationMessage For="() =>HotelRoomModel.Name"></ValidationMessage>
                    </div>
                    <div class="form-group">
                        <label>Occupancy</label>
                        <InputNumber @bind-Value="HotelRoomModel.Occupancy" class="form-control"></InputNumber>
                        <ValidationMessage For="() =>HotelRoomModel.Occupancy"></ValidationMessage>

                    </div>
                    <div class="form-group">
                        <label>Rate</label>
                        <InputNumber @bind-Value="HotelRoomModel.RegularRate" class="form-control"></InputNumber>
                        <ValidationMessage For="() =>HotelRoomModel.RegularRate"></ValidationMessage>

                    </div>
                    <div class="form-group">
                        <label>Sq ft.</label>
                        <InputText @bind-Value="HotelRoomModel.SqFt" class="form-control"></InputText>
                    </div>
                    <div class="form-group" style="height:250px;">
                        <label>Details</label>
                        @*<InputTextArea @bind-Value="HotelRoomModel.Details" class="form-control"></InputTextArea>*@
                        <BlazoredTextEditor @ref="@QuillHtml" Placeholder="Add some details about the room...">
                            <ToolbarContent>
                                <select class="ql-header">
                                    <option selected=""></option>
                                    <option value="1"></option>
                                    <option value="2"></option>
                                    <option value="3"></option>
                                    <option value="4"></option>
                                    <option value="5"></option>
                                </select>
                                <span class="ql-formats">
                                    <button class="ql-bold"></button>
                                    <button class="ql-italic"></button>
                                    <button class="ql-underline"></button>
                                    <button class="ql-strike"></button>
                                </span>
                                <span class="ql-formats">
                                    <select class="ql-color"></select>
                                    <select class="ql-background"></select>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-list" value="ordered"></button>
                                    <button class="ql-list" value="bullet"></button>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-link"></button>
                                </span>
                            </ToolbarContent>
                            <EditorContent>

                            </EditorContent>
                        </BlazoredTextEditor>
                    </div>
                    <div style="padding-top:80px;"></div>
                    <div class="form-group">
                        <InputFile OnChange="HandleImageUpload" multiple></InputFile>
                        <div class="row">
                            @if (IsImageUploadedProcessStarted)
                            {
                                <div class="col-md-12">
                                    <span><i class="fas fa-spinner">Please wait..Images are uploading..</i></span>
                                </div>
                            }
                            @if (HotelRoomModel.ImageUrls != null && HotelRoomModel.ImageUrls.Count > 0)
                            {
                                int serial = 1;
                                foreach (var image in HotelRoomModel.ImageUrls)
                                {
                                    <div class="col-md-2 mt-3">
                                        <img class="room-image" src="@image" alt="uploaded image" />
                                        <span class="room-image-title">@serial</span>
                                        <div type="button" @onclick="()=> DeletePhoto(image)" class="btn btn-outline-danger btn-block">Delete</div>
                                    </div>
                                    serial++;
                                }
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary">@Title Room</button>
                        <NavLink href="hotel-room" class="btn btn-secondary">Back To Index</NavLink>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int? Id { get; set; }

    private HotelRoomDTO HotelRoomModel { get; set; } = new HotelRoomDTO();
    private string Title { get; set; }
    private HotelRoomImageDTO RoomImage { get; set; } = new HotelRoomImageDTO();
    private List<string> DeletedImageUrls { get; set; } = new List<string>();
    private bool IsImageUploadedProcessStarted { get; set; } = false;
    public BlazoredTextEditor QuillHtml { get; set; }

    [CascadingParameter]
    public Task<AuthenticationState> AuthenticationState { get; set; }

    protected async override Task OnInitializedAsync()
    {
        var authState = await AuthenticationState;
        if (!authState.User.IsInRole(CommonFiles.StaticDetail.Role_Admin))
        {
            var uri = new Uri(navManager.Uri);
            navManager.NavigateTo($"/identity/account/login?returnUrl={uri.LocalPath}");
        }
        if (Id != null)
        {
            //updating
            Title = "Update";
            HotelRoomModel = await hotelRoomRepository.GetHotelRoom(Id.Value);
            if (HotelRoomModel.HotelRoomImages != null)
                HotelRoomModel.ImageUrls = HotelRoomModel.HotelRoomImages.Select(u => u.RoomImageUrl).ToList();

        }
        else
        {
            Title = "Create";
            //create
            HotelRoomModel = new HotelRoomDTO();
        }
    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
            return;
        bool loading = true;
        while (loading)
        {
            try
            {
                if (!string.IsNullOrEmpty(HotelRoomModel.Details))
                {
                    await this.QuillHtml.LoadHTMLContent(HotelRoomModel.Details);
                }
                loading = false;
            }
            catch
            {
                await Task.Delay(10);
                loading = true;
            }
        }

    }

    private async Task HandleHotelRoomUpsert()
    {
        try
        {
            var roomCheckedByName = await hotelRoomRepository.IsRoomUnique(HotelRoomModel.Name, HotelRoomModel.Id);

            if (roomCheckedByName != null)
            {
                await jsRuntime.ToastrError("Room name already exists.");
                return;
            }
            if ((HotelRoomModel.Id != 0) && (Title == "Update"))
            {
                HotelRoomModel.Details = await QuillHtml.GetHTML();

                var roomToUpdate = await hotelRoomRepository.UpdateHotelRoom(HotelRoomModel.Id, HotelRoomModel);
                if ((HotelRoomModel.ImageUrls != null && HotelRoomModel.ImageUrls.Any())
                    || (DeletedImageUrls != null && DeletedImageUrls.Any()))
                {
                    if (DeletedImageUrls != null && DeletedImageUrls.Any())
                    {
                        foreach (var deletedImageUrl in DeletedImageUrls)
                        {
                            var imageName = deletedImageUrl.Replace($"{navManager.BaseUri}RoomImages/", "");
                            var result = fileUpload.DeleteFile(imageName);
                            await hotelRoomImageRepository.DeleteHotelRoomImageByImageUrl(deletedImageUrl);
                        }
                    }
                    await AddHotelRoomImage(roomToUpdate);
                }
                await jsRuntime.ToastrSuccess("The room updated successfully!");
            }
            else
            {
                HotelRoomModel.Details = await QuillHtml.GetHTML();
                var roomToCreate = await hotelRoomRepository.CreateHotelRoom(HotelRoomModel);
                await AddHotelRoomImage(roomToCreate);
                await jsRuntime.SwalSuccess("The room created successfully!");
            }
        }
        catch (Exception ex)
        {

            //log exceptions
        }

        navManager.NavigateTo("hotel-room");
    }

    private async Task HandleImageUpload(InputFileChangeEventArgs e)
    {
        IsImageUploadedProcessStarted = true;
        try
        {
            var images = new List<string>();

            if (e.GetMultipleFiles().Count > 0)
            {
                foreach (var file in e.GetMultipleFiles())
                {
                    var fileInfo = new FileInfo(file.Name);
                    if (fileInfo.Extension.ToLower() == ".jpg" ||
                        fileInfo.Extension.ToLower() == ".jpeg" ||
                        fileInfo.Extension.ToLower() == ".png")
                    {
                        var uploadedImagePath = await fileUpload.UploadFile(file);
                        images.Add(uploadedImagePath);
                    }
                    else
                    {
                        await jsRuntime.SwalError("Please select .jpeg/ .jpg/ .png files only");
                        return;
                    }
                }

                if (images.Any())
                {
                    if (HotelRoomModel.ImageUrls != null && HotelRoomModel.ImageUrls.Any())
                        HotelRoomModel.ImageUrls.AddRange(images);
                    else
                    {
                        HotelRoomModel.ImageUrls = new List<string>();
                        HotelRoomModel.ImageUrls.AddRange(images);
                    }
                }
                else
                {
                    await jsRuntime.ToastrError("The upload of the images failed..");
                    return;
                }
            }
            IsImageUploadedProcessStarted = false;
        }
        catch (Exception ex)
        {
            await jsRuntime.SwalError(ex.Message);
        }
    }

    private async Task AddHotelRoomImage(HotelRoomDTO room)
    {
        foreach (var imageUrl in HotelRoomModel.ImageUrls)
        {
            if (HotelRoomModel.HotelRoomImages == null || HotelRoomModel.HotelRoomImages.Where(x => x.RoomImageUrl == imageUrl).Count() == 0)
            {
                RoomImage = new HotelRoomImageDTO()
                {
                    RoomId = room.Id,
                    RoomImageUrl = imageUrl
                };
                await hotelRoomImageRepository.CreateHotelRoomImage(RoomImage);

            }

        }
    }

    private async Task DeletePhoto(string imageUrl)
    {
        try
        {
            var imageIndex = HotelRoomModel.ImageUrls.FindIndex(x => x == imageUrl);
            var imageName = imageUrl.Replace($"{navManager.BaseUri}RoomImages/", "");
            if (HotelRoomModel.Id == 0 && Title == "Create")
            {
                var result = fileUpload.DeleteFile(imageName);
            }
            else
            {
                DeletedImageUrls ??= new List<string>();
                DeletedImageUrls.Add(imageUrl);
            }
            HotelRoomModel.ImageUrls.RemoveAt(imageIndex);

        }
        catch (Exception ex)
        {

            await jsRuntime.SwalError(ex.Message);
        }
    }
}
